<nav class="navbar navbar-expand-sm navbar-light bg-light mb-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <div class="nav-item">
            <a class="nav-link" href="/"><h1>Mini-games</h1></a>
        </div>
        <ul class="navbar-nav mx-auto mr-auto mt-2 mt-lg-0 d-flex justify-content-around">
            <li class="one nav-item px-5 active">
                <a class="nav-link" href="/games/flagQuiz"><h2>Flag-quiz</h2></a>
            </li>
            <li class="three nav-item px-5">
                <a class="nav-link" href="/games/maze"><h2>Labyrinthe</h2></a>
            </li>
            <li class="two nav-item px-5">
                <a class="nav-link" href="/games/ticTacToe"><h2>Morpion</h2></a>
            </li>
        </ul>
        <div class="contact d-flex flex-column align-items-center">
            <h3>Un bogue ?</h3>
            <a class="nav-link" href="/contact"><h3>Ecrivez-nous !</h3></a>
        </div>
    </div>
</nav>