<div class="text-center">
    <h4>Ce n'est pas bien de tricher !</h4>
    <h4>On te laisse une nouvelle chance.</h4>
    <a class="btn btn-success btn-lg mt-5" href="/games/flagQuiz/initiate">
        Recommencer le quiz ?
    </a>
</div>