<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>
            {% block title %}
                {{ 'Mini-games'|trans }}
            {% endblock %}
        </title>
        {% block meta %}
            {% include "shared/block/meta.html.twig" %}
        {% endblock %}

        {% block link %}
            {% include "shared/block/link.html.twig" %}
        {% endblock %}

        {% block stylesheets %}
            {% include "shared/block/stylesheets.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            {% include "shared/block/javascripts.html.twig" %}
        {% endblock %}
    </head>
    <body class="container-fluid p-0">
        {% block header %}
        {% endblock %}

        {% block errors %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block newsletter %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% block back_to_top %}
        {% endblock %}
    </body>
</html>
