<div class="d-flex flex-column align-items-center justify-content-center pt-5">
    <img class="maze-escape-img" src= "{{ asset('build/escape.png') }}" alt="img">
    <h2 class="pt-5 text-danger">Félicitation vous êtes sorti en {{ dto.actionNumber }} mouvements.</h2>
    <a class="btn btn-success btn-lg" href="/games/maze/initiate">
        Une nouvelle tentative ?
    </a>
</div>