<div class="d-flex flex-column align-items-center">
    <h5 class="p-3">Mode facile</h5>
    <a class="btn btn-danger btn-lg" href="/games/maze/initiate">
        Commencer le voyage !
    </a>
</div>
<div class="d-flex flex-column align-items-center">
    <h5 class="p-3">Mode difficile (WIP)</h5>
    <a class="btn btn-danger btn-lg" href="">
        Commencer le voyage !
    </a>
</div>
